#index-header, #links{
    margin: auto;
}



#links{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    margin: auto;
    text-align: center;
}


#links a{
    font-size: 1.4rem;
    height: fit-content;
    width: fit-content;

}


#links a:hover{
    background-color: yellow;
    color: black;
}



#return_div{
    margin: auto;
    width: fit-content;
    height: fit-content;
}

#return{
    
    color: white;
    background-color: red;
}


#return:hover{
    color: black;
    background-color: yellow;
}

#pop_up{

    width: 90vw;
    height: 80vh;
    position: absolute;
    top: 10%;
    left: 5%;



    background-color: rgb(102, 3, 3);
    overflow: hidden;
    overflow-y: auto;

    border-radius: .9rem;
    box-shadow: rgb(0, 0, 0) 1rem .5rem 30rem .5rem;
    outline: 1.3px solid white;


}

#pop_up pre, 
#pop_up p,
#pop_up h2,
#pop_up h3,
#pop_up h4,
#pop_up h5,
#pop_up h6{
    margin: auto;
    margin-top: .5rem;
    color: rgb(0, 0, 0);
}

#pop_up a{
    margin: auto;
    margin-top: .5rem;
    color: blue;

}

#shadow_wrapperOn{
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: rgba(0, 0, 0, 0.843);
    margin: auto;
    width: 100%;
    height: 100%;
}

#shadow_wrapperOff{
    display: none;
}

#close_btn{
    position:absolute;
    border-radius: 0;
    border-style: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    cursor: pointer;
    height: 3rem;
    user-select: none;
    width: 3rem;
}

#close_btn:hover{
    background-color: rgb(31, 30, 30);
    color: rgb(255, 255, 255);
}



#iContent pre, 
#iContent p,
#iContent h1,
#iContent h2,
#iContent h3,
#iContent h4,
#iContent h5,
#iContent h6,
#iContent a{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#iContent pre, 
#iContent p,
#iContent h1,
#iContent h2,
#iContent h3,
#iContent h4,
#iContent h5,
#iContent h6{
    color: white;
}


#iContent pre:hover, 
#iContent p:hover,
#iContent h1:hover,
#iContent h2:hover,
#iContent h3:hover,
#iContent h4:hover,
#iContent h5:hover,
#iContent h6:hover{
    color: black;
    background-color: white;
}


#pop_upTitle{
    margin: auto;
    margin-top: .5rem;
    color: white;
}


#pop_upTitle:hover{
    color: black;
    background-color: white;
}









